*{
    margin: 0;
    padding: 0;
}
.Main-Div{
    width: 100%;
    margin: auto;
    justify-content: center;
}
.me-auto{
    width: 100%;
    justify-content: center;
    color: royalblue;
}
a{
    text-decoration: none;
    color: rgb(100, 100, 100);
    font-weight: 400;
    margin: 2%;
}
a:hover{
    color: #28282B;
    font-weight: 500;
}
.table_btn{
    margin: 1%;
}
h2{
    text-align: center;
}
form{
    width: 50%;
    margin: 2% 25%;
}
.FormBtn{
    margin: 0 40%;
}
.table{
    text-align: center;
}